
# Cocos2d-x framework files
frameworks/cocos2d-x/*
frameworks/cocos2d-x/runtime-src/*
frameworks/runtime-src/
simulator/*
publish/mac/*
*.pxm

# Mac
.DS_Store



*.sublime-workspace
build/
node_modules
npm-debug.log
world-atlas/
ne_*

docs/*

# .es5/
.babelrc
package-lock.json
results.json